#### `.gitignore`
# xcode noise
src/build/*
src/docs/*
src/docs
*.mode1v3
*.perspectivev3

# SVN directories
.svn

# osx noise
.DS_Store
**/.DS_Store
*.pbxuser
profile

#flexbuilder
/bin-debug
/html-template
.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.settings

#ant stuff
build.properties

#ci stuff
/reports
/asdoc
/release