/* CSS file */
@namespace unitedmindset "library://ns.unitedmindset.com";

unitedmindset|AutocompleteList
{
	skin-class: new ClassFactory("com.unitedmindset.skins.DefaultAutocompleteListSkin");
}

unitedmindset|PromptingTextArea
{
	skin-class: new ClassFactory("com.unitedmindset.skins.DefaultPromptingTextAreaSkin");
}

unitedmindset|PromptingTextInput
{
	skin-class: new ClassFactory("com.unitedmindset.skins.DefaultPromptingTextInputSkin");
}